.App {
  text-align: center;
}
.navbar{
  background-color: rgba(0, 0, 47, 0.276);
  backdrop-filter: blur(22px);
  box-shadow: 0 0 12px rgb(255, 255, 255);
}
.navbar-nav{
  text-align: center;
  margin: auto;
}
.navbar-nav li{
  padding: 0 22px;
}
.navbar-brand{
  letter-spacing: 2px;
  font-weight: 600;
}

.card{
  background-color: rgba(0, 0, 0, 0.062);
  backdrop-filter: blur(24px);
  padding: 4px;
  box-shadow: 0 0 12px rgb(0, 0, 0);
}
.card-title{
  color: white;
}
.card-title p{
  color: aquamarine;
}
.btn{
  border-radius: 100px;
  border: 1px solid white;
  background-color: black;
}
.btn:hover{
  transition: all ease-in-out 0.5s;
  border-radius: 100px;
  border: 1px solid rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  color: black;
}
.attr{
  color: aqua;
}
.active{
  font-weight: 700;
}
.badge{
  margin: 5px 10px;
}

.attribute{
  color: aliceblue;
}
.attribute a{
  text-decoration: none;
}
.attribute span{
  text-transform: uppercase;
  color: rgb(128, 255, 121);
}
heart{
  color: red;
}